[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mamba = "*"
expects = "*"

[packages]
bunnyplot = {editable = true, path = "."}

[requires]
python_version = "3.8"
